*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_container{
  width: 100%;
  max-height: 70vh;
  overflow: hidden;  
}

#myVideo{
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
}

.figcaption_container{
  position: absolute;
  top: 260px;
  width: 100%; 
  display: flex;
  justify-content: center;    
}

figcaption{
  /* border: 2px solid red; */
  color: #f1f1f1;    
}


.figcaption_myName > span{
  font-size: 40px;
  font-weight: 600;
  display: flex;
  
}

.figcaption_autotype{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-top: 1rem; */
}

.figcaption_autotype > span{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}



@media screen and (max-width: 1000px) {
  .figcaption_container{
    top: 18%;
  }

  .figcaption_myName > span{
    font-size: 25px;
  }

  .figcaption_autotype > span{
    font-size: 20px;
  }  

}

@media screen and (max-width: 500px) {
  .figcaption_container{
    top: 18%;
  }

}

